.hello {
    color: blue;
}

.carousel-container {
    width: 600px;
    height: 300px;
    overflow: hidden;
}

.carousel-wrap {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.carousel-item {
    width: 400px;
    height: 300px;
}

.carousel-img-1 {
    width: 100%;
    height: 100%;
    background: url('./img/abstract01.jpg');
}

.carousel-img-2 {
    width: 100%;
    height: 100%;
    background: url('./img/abstract02.jpg');
}

.carousel-img-3 {
    width: 100%;
    height: 100%;
    background: url('./img/abstract03.jpg');
}

.carousel-img-4 {
    width: 100%;
    height: 100%;
    background: url('./img/abstract04.jpg');
}

.carousel-dots {
    position: absolute;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 30px;
    width: 100%;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.3);
    width: 400px;
    left: 0;
    right: 0;
}

.carousel-dots li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 12px 4px;
    background: rgba(170, 170, 170, 0.5);
    vertical-align: middle;
    cursor: pointer;
}

.carousel-dots li.carousel-active {
    background: #fff;
}

.carousel-arrow {
    position: absolute;
    font-size: 0;
    line-height: 0;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
}

.carousel-arrow {
    background-color: black;
    opacity: 0.25;
}

.carousel-arrow:hover {
    opacity: 0.5;
}

.carousel-arrow:before {
    font-size: 18px;
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carousel-prev {
    left: 30px;
}

.carousel-next {
    right: 30px;
}

.carousel-prev:before {
    content: '\2190';
}

.carousel-next:before {
    content: '\2192';
}

.carousel-switch {
    margin: 50px 50px 50px 100px;
}
